h4{
    margin-top: 20px;
    font-size: 25px;
    font-weight: normal;
    color: #4bbcf6;
}
body {
    font-size: 18px;
}
dt {
    font-size: 30px;
}
.wrp {
    text-align: center;
}
.demo {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20px;
    vertical-align: middle;
    background-color: #4bbcf6;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.demo:before{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
}
.demo.rotate {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.demo.translate {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
}
.demo.skew {
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
}
.demo.scale {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.demo.matrix {
    -webkit-transform: matrix(2, 0, 0, 2, 100, 100);
    transform: matrix(2, 0, 0, 2, 100, 100);
}
.demo.origin {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.demo.origin:before{
    top: 0;
    left: 0;
}